.words {
  display: inline;
  background-color: #3498DC;
  color: white;
  border-radius: 1px;
  font-weight: bold;
  margin: 5px;
  max-width: 5px;
  text-align: center;
  justify-content: center;
}

#user-input {
  max-width: 500px;
}
